body{
    
    /* background-image: url(https://i.pinimg.com/originals/7f/10/5e/7f105e4d0bbece23e323740bac9e40bf.gif); */
    /* background-image: linear-gradient(to right, rgb(236, 127, 127) , rgb(236, 236, 22)); */
    background-color: #ccc;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    background-repeat: no-repeat;
    background-size: cover;
}
header nav ul img{
    width:70px;
    height: 70px;

}
header nav ul li a p{
    color: grey;

}
header nav ul{
    
    width: 40%;
    position:absolute;
    width: 40%;
    right: 18px;
    top: -19px;
   
    
}
header nav ul li{
    display: inline-block;
    margin: 30px;
    cursor: pointer;
    text-align: center;
    border: none;

}
a{
    text-decoration: none;
}
header nav ul li:hover{
    transform: scale(1.3);
    transition: all 0.5s;
}
header nav ul li a p:hover{
    color:orangered;
}
header nav ul li a p:active{
    color:orangered;
}
 
header{
    position:absolute;
    top: 5%;
    height: 18%;
 
    width: 100%;
  
    background-color: #f5f5f5;
    
    box-shadow: 5px 10px 5px #ccc;
   


}
/* .tab{
    position: absolute;
    width: calc(100%/16);
    height: 5px;
    background-color: orange;
    left: 815px;
    border: 5px;
    top: 110px;
}   */
.logo img{
    position: absolute;
    left: 20px;
    top: 20px;
   
    margin-bottom: 10px;
    width: 40%;
    

}
footer{
    background-color:  rgb(171, 223, 230);
    position: relative;
    top: 1021px;
    text-align: center;
    font-family: cursive;
    font-size: 15px;
    
} 
.soc li{
    display: inline-block;
    margin: 20px;

}
.soc img{
    width:70% ;
}

.t1{
    border: 4px solid black;
}
  .image{
    /* position: absolute; */
    /* top: 30px; */
    margin-top: 250px;
    

   

}
 .image img{
    
    width: 22%;
    height: 260px;
    /* border: 5px solid rgb(14, 13, 13); */
    margin-left: 20px;
    border-radius: 50%;
} 
.two{
    margin-left: 180px;
}
/* .social1{
    position: absolute;
    top: 30px;
    margin-top: 550px;
    margin-left: 280px;
    font-size: 30px;


} */
.moh{
    filter: drop-shadow(8px 8px 10px green);
}
.moh:hover{
    transform:skewX(1.8deg);
}
.kh{
    position: absolute;
    
    left: 796px;
    top: 621px;
    filter: drop-shadow(8px 8px 10px rgb(251, 255, 1));
}
.kh:hover{
    transform:skewX(1.8deg);
}
.sa{
    position: absolute;
    left: 1000px;
    filter: drop-shadow(8px 8px 10px rgb(255, 0, 0));
}
.sa:hover{
    transform:skewX(1.8deg);
}
.ana{
    position: absolute;
    top: 621px;
    right: 821px;
    filter: drop-shadow(8px 8px 10px rgb(26, 1, 255));
}
.ana:hover{
    transform:skewX(1.8deg);
}
.mal{
    position: absolute;
    top: 255px;
    left: 494px;
    filter: drop-shadow(8px 8px 10px rgb(0, 162, 255));
}
.mal:hover{
    transform:skewX(1.8deg);
}
.mohammad h1{
    position: absolute;
    margin-bottom: 15px;
    top: 528px;
    left: 27px;
    font-size: 30px;
    font-family: cursive;
}
 .mohammad img{
    
     margin-right: 10px;
     margin-bottom: 20px;
     margin-left: 10px;
   margin-top: 50px;
     width: 10%;
      
}
.mohammad section{
    position: absolute;
    left: 70px;
}
.sara h1{
    position: absolute;
    margin-bottom: 15px;
    left: 1078px;
    font-size: 30px;
    font-size: 30px;
    font-family: cursive;
}
.sara img{
    margin-right: 10px;
    margin-bottom: 20px;
    margin-left: 10px;
  margin-top: 50px; 
  width: 10%;
}
.sara section{
    position: absolute;
    left: 1085px;
    top: 500px;
}
.anagheem h1{
    position: absolute;
    margin-bottom: 15px;
    bottom: 120px;
    left: 251px;
    font-size: 30px;
    font-family: cursive;
    top: 891px;
}
.anagheem img{
    margin-right: 10px;
    margin-bottom: 20px;
    margin-left: 10px;
  margin-top: 50px;
  width: 10%;
}
.anagheem section{
    position: absolute;
    left: 273px;
    top: 887px;
}
.malak h1{
    position: absolute;
    /* margin-bottom: 40px;
    bottom: 400px; */
    left: 550px;
    font-size: 30px;
    font-family: cursive;
    top: 528px;
}
.malak img{
    margin-right: 10px;
    margin-bottom: 20px;
    margin-left: 10px;
  margin-top: 50px;
  width: 10%;
}
.malak section{
    position: absolute;
    left: 570px;
    top: 525px;
}
.khaled h1{
    position: absolute;
    margin-bottom: 15px;
    bottom: 120px;
    left: 879px;
    font-size: 30px;
    font-family: cursive;
    top: 895px;
}
.khaled img{
    margin-right: 10px;
    margin-bottom: 20px;
    margin-left: 10px;
  margin-top: 50px; 
  width: 10%;
}
.khaled section{
    position: absolute;
    left: 893px;
    top: 888px;
}
.final{
    position: absolute;
    top: 1000px;
   left: 180px;
   width: 70%;
}